html
         head
             title 登录注册
             meta(charset="utf-8")
         body
             div#login
                 form(action="/register")
                     input(type="text",name="username")
                     input(type="password",name="password")
                     input(type="submit",value="注册")
                 form(action="/po",method="post")
                     input(type="text",name="username",id="username")
                     input(type="text",name="password",id="password")
                     input(type="submit",id="sub")
         //script(type="text/javascript",src="../javascripts/jquery.js")
         script(type="text/javascript")

                        console.log("---------------");

                        console.log("--------------");
                     //user=$("#username").val();
                     //pass=$("#password").val();


