html
    head
        title 登录注册
        meta(charset="utf-8")
    body
        div#login
            form(action="/")
                input(type="text",name="username")
                input(type="password",name="password")
                input(type="submit",value="登录")
